.text-input {
  display: block;
}
.text-input input {
  border-radius: 3px;
  border: solid 1px #8c8c8a;
  box-sizing: border-box;
  color: #5d5d5d;
  display: block;
  height: 40px;
  margin: 10px 0;
  padding: 10px 16px;
  width: 100%;
}